*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

/*==========================*/
        /* Basic Setup */
/*==========================*/
nav{
  width: 95%;
  margin-right: 5%;
}
.main-nav{
  float: right;
  margin-top: 40px;
  margin-bottom: 50px;
}
.main-nav li {
  display: inline-block;
  margin-left: 15px;
  list-style-type: none;
}
.main-nav li:first-child{
  margin-left: 0;
}
.main-nav li a:any-link{
  color: #444;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}
section{
  padding: 80px 0;
}
h2::after{
  content: "";
  display: block;
  height: 2px;
  width: 100px;
  background: #949494;
  margin-top: 10px;
}
#project h2::after{
  margin: auto;
  margin-top: 10px;
}
#service h2::after{
  margin: auto;
  margin-top: 10px;
}
.row{
  max-width: 1200px;
  margin: 0 auto;
  /* border: 1px solid red; */
}
.row::after{
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.col{
  display: block;
  float: left;
}
.half-width:nth-child(1){
  margin-left: 0;
}
.half-width{
  width: 45%;
  margin-left: 10%;
}
.one-third{
  width: 30%;
  margin-left: 3.33%;
  background: rgba(253, 253, 253, 0.87);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 5px 8px 15px 2px rgb(177, 177, 177);
  transition: .3s ease;

}
.one-third:nth-child(1){
  margin-left: 1.7%;
}
.one-third:hover{
  transform: scale(1.1);
}
span{
  display: inline-block;
   color: tomato;
}
span .special{
  color: tomato;
}
p{
  font-size: 16px;
  color: #444;
}
h2{
  font-size: 36px;
  text-transform: uppercase;
}
img{
  width: 100%;
}
/*==========================*/
        /* Top Section */
/*==========================*/
h1{
  font-size: 60px;
  font-family: 'Balsamiq Sans', cursive;
  margin-top: 30px;
  color: #555;
}
#top-section span{
  background: rgb(58, 56, 56);
  padding-right: 50px;
  transition: .3s ease-in-out;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 110px;
  margin-top: 20px;
  color:#f56161;
}
.little-description{
  margin: 30px 0;
}
.btn{
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 18px;
  transition: all .3s ease-in-out;
  background: #ffae06;
  color: #000;

}
.btn:hover{
  background: #000;
  color: #fff;
  /* border: 2px solid #fff; */
}

/*==========================*/
        /* About Section */
/*==========================*/
#about-section .col:nth-child(2){
  margin-top: 50px;
}
.btn-cv i{
  padding-right: 10px;
  color: #ee0d45;
}

/*==========================*/
        /* Project Section */
/*==========================*/
#project{
  background: #ecf0f1;
  height: 600px;
}
#project h2{
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
#project h3{
  margin: 15px 0;
}
/*==========================*/
        /* Services Section */
/*==========================*/
#service{
  text-align: center;
  background: #D7DBDD ;
}
#service h2{
  margin-bottom: 50px;
}
/* #service i{
  font-size: 40px;
} */
#service h4{
  font-size: 22px;
  color: #F5B041;
  margin: 20px 0;
}
#service p{
  color: #f0ebebe8;
}
#service .col{
  padding: 35px;
}

#service img {
  height: 90px;
  width: 90px;
  margin-bottom: 25px;
}
.service-bg{
  background: rgb(50,50,50);
  
}

/*==========================*/
        /* Inquiary Section */
/*==========================*/
#inquiary{
  position: relative;
  padding: 60px 0;
  margin-top: 50px;
}
#inquiary img{
  width: 70%;
  margin-left: 15%;
}
#inquiary h3{
  position: absolute;
  top: 45%;
  left: 25%;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
}
.btn-inquiary{
  text-decoration: none;
  background: #ffae00;
  color: #000;
  padding: 15px 25px;
  border-radius: 5px;
  position: absolute;
  top: 45%;
  left: 65%;
  transition: .3s ease-in-out;
}
#inquiary a:hover{
  background: #ff7113;
  color: #fff;
}

footer{
  text-align: center;
  padding: 40px 0;
  /* border: 1px solid red; */
}
h5{
  font-size: 16px;
  color: #444;
  text-transform: uppercase;
  margin-bottom: 10px;
}
footer .row{
  margin-top: 20px;
}
footer .hero-site{
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
}
.one{
  width: 3%;
  margin-left: 15px;
}
.two{
  width: 3%;
  margin-left: 15px;
}
.three{
  width: 3%;
  margin-left: 15px;
}